

 
<title>Login</title>

<form action="" method="get">
    <table>
        <tr>
            <th>社員番号</th>
            <td><input type="text"  name="id" /></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="ログイン" />
            <td>
        </tr>
    </table>
    </form>
